---
layout: default
section_id: home
slides:
  - bg: images/@stock/boxed-slide-5.jpg
    title: Elst Brewing Co.
    tagline: Make time for something Elst!
    link: about.html
  - bg: images/@stock/boxed-slide-4.jpg
    title: Coming soon!
    tagline: Elstwhere Tasting Room
    link: elstwhere.html
beers:
  - image: images/@stock/one-page-work-1.jpg
    title: Belgian Golden Ale
    desc: A Belgian style pale hoppy beer
    class: graphic-design
  - image: images/@stock/one-page-work-5.jpg
    title: Elst IPA
    desc: Elst signature American style IPA
    class: web-design print
  - image: images/@stock/one-page-work-3.jpg
    title: Citra Session IPA
    desc: American style session IPA with all Citra hops
    class: brand
  - image: images/@stock/one-page-work-4.jpg
    title: Rye Stout
    desc: A dark and hearty stout with spicy rye flavor
    class: development

bars:
  - title: Yeasts
    percent: 84
  - title: Waters
    percent: 95
  - title: Hops
    percent: 70
  - title: Grains
    percent: 61


---

<div class='full no-padding'>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modBoxedSlider'>
        <div class='slides'>
          {% for slide in page.slides %}
            <div class='slide'>
              <img alt="" src="{{slide.bg}}" a="{{slide.link}}" />
              <div class='caption'>
                <p>{{slide.title}}</p>
                <h2>{{slide.tagline}}</h2>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class='full no-padding'>
  <div class='spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <p style='font-size: 1.5rem; font-style: italic;'>
        Elst Brewing Company is a brewery startup based in Knoxville Tennessee. Our goal is to create fine beers that speak to people with an obsession for beer.
      </p>
    </div>
  </div>
  <hr>
</div>
<div class='two spacing'></div>
<div class='row'>
  <div class='large-12 columns'>
    <h3>
      Our beer
      /
      <a href='beers.html'>View more</a>
    </h3>
    <div class='spacing'></div>
  </div>
  <div class='mod modGallery'>
    <ul class='gallery large-block-grid-4 medium-block-grid-3 seperated small-block-grid-2'>
      {% for work in page.beers %}
        <li class='{{work.class}}'>
          <a href='portfolio-item.html'>
            <img alt="" src="{{work.image}}" />
            <div class='overlay' style='background: rgba(143, 221, 115, 0.8);'>
              <div class='thumb-info'>
                <h3>{{work.title}}</h3>
                <p>{{work.desc}}</p>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class='two spacing'></div>
<hr>
<div class='two spacing'></div>
<div class='row'>
  <div class='large-12 columns'>
    <h3>Our services</h3>
    <div class='two spacing'></div>
  </div>
</div>
<hr>
<div class='two spacing'></div>
<div class='row'>
  <div class='medium-6 columns'>
    <h3>Our skills</h3>
    <div class='spacing'></div>
    <div class='mod modBarGraph'>
      <ul class='bars'>
        {% for bar in page.bars %}
          <li>
            <h4 style=''>
              {{bar.title}}
              <strong>{{bar.percent}}%</strong>
            </h4>
            <p class='highlighted' data-percent='{{bar.percent}}'></p>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class='two spacing'></div>
  </div>
</div>
<hr>
</div>
<hr>
<div class='two spacing'></div>
<div class='row'>
  <div class='large-12 columns'>
    <h3>
      Our recent posts
      /
      <a href='#'>View more posts</a>
    </h3>
    <div class='spacing'></div>
  </div>
</div>
<div class='row'>
  {% for post in site.posts %}
    {% if forloop.index > 3 %}
      {% break %}
    {% endif %}


    <div class='large-4 medium-4 columns'>
      <div class='mod modBlogPost no_bg simple'>
        {% for image in post.images %}
          {% if forloop.index > 1 %}
            {% break %}
          {% endif %}
          <a href="{{post.url}}"><img alt="" src="{{image}}" /></a>
        {% endfor %}
        <div class='content'>
          <p class='date'>{{post.date | date: "%B %d, %Y" }}</p>
          <h4><a href="{{post.url}}">{{post.title}}</a></h4>
          <p>{{post.excerpt | truncatewords: 25 }}</p>
        </div>
      </div>
    </div>

  {% endfor %}
  <div class='two spacing'></div>
</div>
<div class='full no-padding' style='background: #f5f5f5'>
  <div class='two spacing'></div>
  <div class='mod modCallToAction'>
    <div class='row'>
      <div class='medium-9 large-9 columns'>
        <p>Like what you see here? Checkout this theme and start to build your site immediately.</p>
      </div>
      <div class='medium-3 large-3 columns'>
        <a class='button' target="_blank" href='http://themeforest.net/user/honryou/portfolio?ref=honryou'>Learn more</a>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
</div>
